*{
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.alar a {
  text-decoration: none;
}
.alar {
  display: flex;
  justify-content: space-between;
  width: 321px;
}
.left {
  width: 40%;
}
.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectioni{
  display: flex;
  align-items: center;
  /* width: 1440px; */
  height: 190px;
  flex-shrink: 0;
  background-color: #FFD394
}
.sectionb {
  background-color: #ede6dd;
  height: 548px;
}
.inp {
  width: 348px;
  height: 56px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inp input {
  width: 115px;
  height: 20px;
  border: none;
}
.inp button {
  width: 179px;
  height: 40px;
  background-color: #1e1928;
  border-radius: 50px;
  color: white;
  border: none;
}
.section2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  height: 374px;
  flex-shrink: 0;
  background-color: #FFD394;
}
.right2{
  width: 600px;
height: 310px;
flex-shrink: 0;
}
.left2{
  width: 600px;
height: 350px;
flex-shrink: 0;
}
.nb{
  width: 1200px;
  height: 367px;
  flex-shrink: 0;
  margin-top: 300px;
  margin-left: 300px;
  align-items: center;
  position: absolute;
}

.adasi {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bolasi{
font-size: larger;
}
.bolasi2{
  text-align: center;
  gap: 30px;
  width: 40px;
}
.zzz {
  width: 257px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 9999px;
  background: #1E1928;
  color: #F4EFE9;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}
.nb{
  background-image: url(image\ 1.png);
  background-repeat: none;
  color: #ede6dd;
  text-align: center;
}
